.main-tab {
  background-color: #efefef00;
  text-decoration: none;
  color: red;
  display: flex;
}

.applycolor:hover {
  text-decoration: none;
  color: #fff;
}

.spec-bg {
  background-color: #212129;
}

.type-container {
  display: flex;
  justify-content: space-around;
}

.types-icon {
  object-fit: contain;
  width: 100%;
  height: 60px;
}

.icon-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-content: center;
}

.img-type {
  background-color: black;
  border-radius: 0px;
  object-fit: contain;
  max-height: 75px;
  width: 100%;
}

.coating-container {
  max-width: 100%;
  height: 35vw;
}

@media (max-width: 768px) {
  .coating-container {
    height: 100vw;
  }
}

/*Animation for placeholder loading*/
.loading-image {
  background: linear-gradient(-45deg, #666666, #333333, #000000);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
