.car-container {
  background-color: #212129;
  margin: 0px;
  padding: 0px;
}

.car-container:hover {
  transition: 0.3s;
  background-color: rgb(153, 28, 28);
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
