.thumb-post-img {
  object-fit: cover; /* keep aspect ratio */
  width: 100%;
  max-height: 100%;
}

.car-container {
  overflow: hidden;
  background-color: #212129;
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.car-container:hover {
  transition: 0.3s;
  background-color: rgb(153, 28, 28);
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
