.weapon-img-thumb {
  object-fit: contain; /* keep aspect ratio */
  width: 150px;
  max-height: 100%;
}

.avatar-container {
  max-width: 150px;
}

.avatar-text:hover {
  color: red;
}

.panel-header button {
  border: none;
  background: black;
  color: white;
}

.panel-body {
  background: black;
  color: #333333;
  padding: 5px;
  border: red;
  border-width: 2px;
}

.limit-width {
  min-width: 300px;
  max-width: 550px;
}
