.weapon-img-thumb {
  object-fit: contain; /* keep aspect ratio */
  width: 150px;
  max-height: 100%;
}

.panel-header button {
  border: none;
  background: black;
  color: white;
}

.panel-body {
  background: black;
  color: #333333;
  padding: 5px;
  border: red;
  border-width: 2px;
}

.styledLink,
.styledLink:hover {
  color: white;
}

.scrollBar-hidden {
  overflow: hidden; /* Hide scrollbars */
}
