.widget-container {
  width: 50%;
}

.sim-container {
  width: 80%;
  background-color: white;
}

.item-container {
  width: 50%;
  height: calc(80vh / 5);
  border: black;
  border-width: 1px;
  border-style: solid;
  color: black;
}
