.main-tab {
  background-color: #efefef00;
  text-decoration: none;
  color: red;
  display: flex;
}

.applycolor:hover {
  text-decoration: none;
  color: #fff;
}

.spec-bg {
  background-color: #212129;
}

.type-container {
  display: flex;
  justify-content: space-around;
}

.types-icon {
  object-fit: contain;
  width: 100%;
  height: 60px;
}

.icon-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  gap: 25%;
}

.img-type {
  background-color: black;
  border-radius: 0px;
  object-fit: contain;
  max-height: 75px;
  width: 100%;
}
